{% extends 'menu.html' %} {% block contenido %}
<div class="row">
    <div class="col-4">
        <form method="post" class="">
            {% csrf_token %}

                {% for elemento in form %}
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{ elemento.label }}</span>
                        {{elemento}}
                        <div class="form-text">{{elemento.errors}}</div>
                    </div>
                    
                {% endfor %}
            <button type="submit" class="btn btn-outline-secondary">Ingresar</button>
        </form>
</div>
</div>
{% endblock %}