<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ECOM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body style="background: #fff;">
        <div class="position-relative container">
            <div class="position-absolute top-0 start-50 translate-middle-x p-3" >

                
                <div class="card text-center" style="width: 30rem;background: #fff;">
                    <div class="card-header" style="background: #F2F2F2;">
                            {% comment %} LOGO ECOM {% endcomment %}
                            <img src="https://ecom.com.ar/img/Logo-Ecom.svg" alt="Logo" width="300" height="165">

                            <h1 class="h3 fw-normal card-title">EcomCash</h1>
                    </div>
                    <div class="card-body">
                        <form method="post">{% csrf_token %}
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">Nombre de usuario</span>
									{{form.username}}
								</div>
								<div id="" class="form-text">
									{{form.username.errors}}
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">Nombre</span>
									{{form.first_name}}
								</div>
								<div id="" class="form-text">
									{{form.first_name.errors}}
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">Apellido</span>
									{{form.last_name}}
								</div>
								<div id="" class="form-text">
									{{form.last_name.errors}}
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">Contraseña</span>
									{{form.password}}
								</div>
								<div id="" class="form-text">
									{{form.password.errors}}
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">DNI</span>
									{{form.dni}}
								</div>
								<div id="" class="form-text">
									{{form.dni.errors}}
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">CUIL</span>
									{{form.cuil}}
								</div>
								<div id="" class="form-text">
									{{form.cuil.errors}}
								</div>

								<div id="" class="form-text">
									{{form.errors}}
								</div>
								
                                <button type="submit" class="btn btn-primary rounded-pill" style="background: #A62D59;">Guardar</button>
                            
                        </form>

                    </div>
                    <div class="card-footer text-body-secondary" style="background: #F2F2F2;">
                        <a class="nav-link mt-2"href="{% url 'login' %}">Volver</a>
                    </div>
                </div>  
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  </body>
</html>
