{% extends 'base.html' %} {% block content_gral %}

<div class="">
    <div class="card" style="width: 30rem;">
{% comment %} card-HEADER {% endcomment %}
        <div class="card-header">
            <a class="col nav-link"href="{% url 'usuarios:registrados:inicio' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>                
            </a>

        </div>
{% comment %} card-BODY {% endcomment %}
        <div class="card-body">
            <div class="center">
                <form method="post">
                    {% csrf_token %}

                        {% for elemento in form %}
                            <div class="input-group mb-3">
                                <span class="input-group-text">{{ elemento.label }}</span>
                                {{elemento}}
                                <div class="form-text">{{elemento.errors}}</div>
                            </div>
                            
                        {% endfor %}
                    <button type="submit" class="btn btn-outline-secondary">Transferir</button>
                </form>
                






            </div>
        </div>
{% comment %} card-FOOTER {% endcomment %}
    </div>
</div>










{% endblock %}
