{% extends 'base.html' %} {% block content_gral %}

<div class="">
    <div class="card" style="width: 30rem;">
{% comment %} card-HEADER {% endcomment %}
        <div class="card-header" style="background: #F2F2F2;">
            <a class="col nav-link"href="{% url 'usuarios:registrados_inicio' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>                
            </a>
            
        </div>
{% comment %} card-BODY {% endcomment %}

        <div class="card-body position-relative">
            {% if user.foto_perfil %}
                <a href="{% url 'usuarios:editar_foto' %}">
                    <img src="{{ user.foto_perfil.url }}" alt="Foto de perfil" class="position-absolute top-0 start-50 translate-middle" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;">
                </a>
            {% else %}
                <a href="{% url 'usuarios:editar_foto' %}">
                    <img src="{{ "/media/default.png" }}" class="position-absolute top-0 start-50 translate-middle" alt="Foto de perfil" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;">
                </a>
            {% endif %}
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p>CVU: {{user.cvu}}</p>
            <p>Usuario: {{user}}</p>
            <p>DNI: {{user.dni}}</p>
            <p>CUIL: {{user.cuil}}</p>
            <p>Email: {{user.email}}</p>
            <p>Nombre: {{user.first_name}}</p>
            <p>Apellido: {{user.last_name}}</p>
            <a class=""href="{% url 'usuarios:editar' user.cvu %}">
                Editar Perfil
            </a>

        </div>
{% comment %} card-FOOTER {% endcomment %}
        <div class="card-footer text-body-secondary" style="background: #F2F2F2;">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="nav-link" type="submit">Cerrar sesion</button>
            </form>
        </div>
    </div>
</div>

       
{% endblock %}